body {
    height: 100vh;
    overflow: hidden; 
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    overflow: hidden; 
}

.content-and-image-container {
    display: flex;
    align-items: center;
    width: 50%;
    position: absolute;
    left: 170px !important;
    right: auto !important;
}


.image-container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    max-width: 100%; 
    position:absolute; 
    right: 0 !important;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.image-container img {
    height: 100%;
    object-fit: cover;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 1000%; 
}

.club-title {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.club-description {
    font-size: large;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.games-container {
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    
}

.games-section1 {
    flex: 1;
    background-color: rgb(16, 46, 48);
    margin-right: 30px; 
}


.games-section2 {
    flex: 1;
    background-color: rgb(16, 46, 48);
    margin-left: 30px;
}

.games-section3 {
    flex: 1;
    background-color: rgb(16, 46, 48);
    margin-left: 30px; 
}

.games-section1 h2, .games-section2 h2, .games-section3 h2 {
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.games-section1 ul, .games-section2 ul, .games-section3 ul {
    text-align:justify;
    margin-right: 20px;
}

.join-button {
    text-shadow: 2px 2px 4px #000000;
    font-size: xx-large;
    font-style: oblique;
    background-color: rgb(32, 145, 126);
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 20px auto;
}

@media (max-width: 768px) {
    .club-description {
        max-width: 100%;
    }

    .games-container {
        flex-direction: column;
        align-items: center;
    }

    .games-section1, .games-section2 {
        width: 100%;
        margin: 10px 0;
    }
}