#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url('./videojogo.png');
  background-size:100% ; /* Asegura que la imagen de fondo cubra todo el elemento */
}